.vs
.vscode
projekt-wymagania.txt
base.afphoto
StoryLineVibe.afphoto
todo
cookies.txt
/inspo
export_to_db_command.txt
public/styles/test.css
public/views/test.html
database/init/some_schema_upgrade.sql
prototypy-wersja-alfa-1-Martyna-Huza.pdf
public/scripts/chart.js