a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ff3c00;
}

button {
  cursor: pointer;
  border: rgb(255, 186, 198) solid 2px;
  padding: 8px 12px;
  border-radius: 4px;
  border-radius: 3rem;
  background-color: #ff9148;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fadcda;
  color: #3b1912;
  line-height: 1.6;
}

nav {
  background-color: #ff9148;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  border-radius: 20px;
  border: 3px solid #f3c7a9;
  padding: 1rem;
}

.parent {
  display: grid;
  height: calc(100vh - 70px);
  margin: 0 2vw;
  padding: 3rem;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border: none;
}

.section1 {
  grid-area: 1 / 1 / 5 / 9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section2 {
  grid-area: 5 / 1 / 8 / 9;
  font-style: italic;
}
.section3 {
  grid-area: 8 / 1 / 11 / 6;
  background-color: #f3c7a9;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 {
  grid-area: 8 / 6 / 11 / 9;
  background-image: url("../static/flower-bg.jpg");
  background-size: cover;
}
.section5 {
  grid-area: 1 / 9 / 11 / 20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section1-left {
  background-color: rgb(188, 20, 62);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.section1-right {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.gold-label {
  background-color: #f4c6aa;
  padding: 0.2rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  width: 90%;
  text-align: center;
}

.section3 h3 {
  font-size: 1.8rem;
}

.section5-top {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 1rem;
}

.number-of-stories {
  background-color: #ff9148;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.section5-top input {
  border: 3px solid #f3c7a9;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 90%;
  background-color: #fadcda;
}

.section5-middle {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.book-card {
  background-color: #ff9148;
  width: 8rem;
  height: 11rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.section5-bottom {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.left-arrow,
.right-arrow {
  border: 3px solid #f3c7a9;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0.8rem 1.4rem 0.8rem 0;
  border-color: transparent #f3c7a9 transparent transparent;
  transform: rotate(0deg);
  transform: translateX(-0.2rem);
}

.triangle-right {
  transform: rotate(180deg);
  margin-left: 0.2rem;
}
