/* @font-face {
  font-family: "MyFont";
  src: url("../static/mfjh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyFont", system-ui, sans-serif;
} */

:root {
  --bg: #fadcda;
  --gold: #f3c7a9;
  --accent: #ff9148;
  --font: #3b1912;
  --dark-gold: #f4c6aa;
}

a {
  text-decoration: none;
  color: var(--font);
}

a:hover {
  color: #ff3c00;
}

button {
  cursor: pointer;
  border: rgb(255, 186, 198) solid 2px;
  padding: 8px 12px;
  border-radius: 4px;
  border-radius: 3rem;
  background-color: var(--accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--font);
  line-height: 1.6;
}

nav {
  background-color: var(--accent);
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  border-radius: 20px;
  border: 3px solid var(--gold);
  padding: 1rem;
  margin-bottom: 2rem;
}

.parent {
  display: grid;
  padding: 3rem 1rem;
  border: none;
}

.section1 {
  grid-area: 1 / 1 / 2 / 2;
}
.section2 {
  grid-area: 2 / 1 / 3 / 2;
}
.section3 {
  grid-area: 3 / 1 / 4 / 2;
}
.section4 {
  grid-area: 4 / 1 / 5 / 2;
  display: none;
}
.section5 {
  grid-area: 5 / 1 / 6 / 2;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section2 {
  font-style: italic;
}
.section3 {
  background-color: var(--gold);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 {
  background-image: url("../static/flower-bg.jpg");
  background-size: cover;
}
.section5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section1-left {
  background-color: rgb(188, 20, 62);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.section1-right {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.gold-label {
  background-color: var(--dark-gold);
  padding: 0.2rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  width: 90%;
  text-align: center;
}

.section3 h3 {
  font-size: 1.3rem;
}

.section5-top {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 1rem;
}

.number-of-stories {
  background-color: var(--accent);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.section5-top input {
  border: 3px solid var(--gold);
  padding: 0rem 1.2rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 90%;
  background-color: var(--bg);
}

.section5-middle {
  width: 100%;
  height: 80%;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.book-card {
  background-color: var(--accent);
  width: 9rem;
  height: 11rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.section5-bottom {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.left-arrow,
.right-arrow {
  border: 3px solid var(--gold);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0.8rem 1.4rem 0.8rem 0;
  border-color: transparent var(--gold) transparent transparent;
  transform: rotate(0deg);
  transform: translateX(-0.2rem);
}

.triangle-right {
  transform: rotate(180deg);
  margin-left: 0.2rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

/* tablets */
@media screen and (min-width: 768px) {
  .parent {
    display: grid;
    height: calc(100vh - 70px);
    margin: 0 2vw;
    padding: 3rem;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border: none;
  }

  .section1 {
    grid-area: 1 / 1 / 5 / 9;
  }
  .section2 {
    grid-area: 5 / 1 / 8 / 9;
  }
  .section3 {
    grid-area: 8 / 1 / 11 / 6;
  }
  .section4 {
    grid-area: 8 / 6 / 11 / 9;
    display: block;
  }
  .section5 {
    grid-area: 1 / 9 / 11 / 20;
  }
}

/* laptops */
@media screen and (min-width: 992px) {
  .section1 {
    grid-area: 1 / 1 / 5 / 9;
  }
  .section2 {
    grid-area: 5 / 1 / 8 / 9;
  }
  .section3 {
    grid-area: 8 / 1 / 11 / 6;
  }
  .section4 {
    grid-area: 8 / 6 / 11 / 9;
  }
  .section5 {
    grid-area: 1 / 9 / 11 / 20;
  }
}

/* large screen */
@media screen and (min-width: 1200px) {
  .section1 {
    grid-area: 1 / 1 / 5 / 9;
  }
  .section2 {
    grid-area: 5 / 1 / 8 / 9;
  }
  .section3 {
    grid-area: 8 / 1 / 11 / 6;
  }
  .section4 {
    grid-area: 8 / 6 / 11 / 9;
  }
  .section5 {
    grid-area: 1 / 9 / 11 / 20;
  }
}

/* large large screen */
@media screen and (min-width: 1600px) {
  .section1 {
    grid-area: 1 / 1 / 5 / 9;
  }
  .section2 {
    grid-area: 5 / 1 / 8 / 9;
  }
  .section3 {
    grid-area: 8 / 1 / 11 / 6;
  }
  .section4 {
    grid-area: 8 / 6 / 11 / 9;
  }
  .section5 {
    grid-area: 1 / 9 / 11 / 20;
  }

  .section1-left {
    width: 15rem;
    height: 15rem;
  }

  .section3 h3 {
    font-size: 1.8rem;
  }
}

/* Stories list pagination/sort */
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.list-header .filter a {
  text-decoration: none;
  opacity: 0.8;
}
.list-header .filter a.active {
  font-weight: 600;
  text-decoration: underline;
  opacity: 1;
}
.stories {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
}
.stories .story {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.75rem;
  background: #fff;
}
.stories .story .title {
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}
.stories .story .meta {
  font-size: 0.9rem;
  opacity: 0.7;
  margin: 0.25rem 0 0.5rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem;
}
.hidden {
  display: none !important;
}
